/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  overflow: hidden;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

main {
  height: 100vh;
  width: 100vw;

  &.loading {
    height: calc(100vh - 4px);
  }
}

.full-width {
  width: 100%;
}

.center-align {
  text-align: center;
}
